<div class="hero-unit">
	<h1>The new way to find a place to work</h1>
	<p>
	  Built as a test project for 
	  <%= link_to "One Month Rails", "http://onemonthrails.com" %>.
	</p>
	<p>
	  <%= link_to "Sign Up Now!", '#', class: "btn btn-primary btn-large" %>
	</p>
</div>

